In [3]:
import pandas as pd
df=pd.read_csv('Amazon Sale Report_intern.csv',low_memory=False)
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0.0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1.0,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2.0,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3.0,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4.0,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128974,NaN,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [5]:
df.isnull()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
128971,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
128972,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
128973,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
128974,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [6]:
df.dropna()

Empty DataFrame
Columns: [index, Order ID, Date, Status, Fulfilment, Sales Channel , ship-service-level, Style, SKU, Category, Size, ASIN, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, promotion-ids, B2B, fulfilled-by, Unnamed: 22]
Index: []

[0 rows x 24 columns]

In [7]:
df.isnull().sum()          # Nulls per column
df.isnull().sum().sum()    # Total nulls in DataFrame

np.int64(2986615)

In [11]:
df = df.drop_duplicates()
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0.0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1.0,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2.0,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3.0,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4.0,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995.0,405-9036147-3522705,04-27-22,Shipped,Amazon,Amazon.in,Expedited,SET273,SET273-KR-NP-S,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
4996,4996.0,405-5485616-5052346,04-27-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET273,SET273-KR-NP-M,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4997,4997.0,408-0187324-2986712,04-27-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0096,J0096-KR-XL,kurta,...,INR,568.00,HASSAN,KARNATAKA,573201.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128974,NaN,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [13]:
df.drop_duplicates(inplace=True)
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0.0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1.0,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2.0,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3.0,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4.0,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995.0,405-9036147-3522705,04-27-22,Shipped,Amazon,Amazon.in,Expedited,SET273,SET273-KR-NP-S,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
4996,4996.0,405-5485616-5052346,04-27-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET273,SET273-KR-NP-M,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4997,4997.0,408-0187324-2986712,04-27-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0096,J0096-KR-XL,kurta,...,INR,568.00,HASSAN,KARNATAKA,573201.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128974,NaN,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [18]:
df['Date'] = pd.to_datetime(df['Date'],format='dd-mm-yyyy')
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0.0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1.0,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2.0,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3.0,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4.0,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995.0,405-9036147-3522705,2022-04-27,Shipped,Amazon,Amazon.in,Expedited,SET273,SET273-KR-NP-S,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
4996,4996.0,405-5485616-5052346,2022-04-27,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET273,SET273-KR-NP-M,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4997,4997.0,408-0187324-2986712,2022-04-27,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0096,J0096-KR-XL,kurta,...,INR,568.00,HASSAN,KARNATAKA,573201.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4998,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128974,NaN,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [19]:
df.to_csv('Cleaned_Amazon_Sale.csv', index=False)

In [20]:
import numpy as np
df.replace ('',np.nan,inplace=True)
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0.0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1.0,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2.0,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3.0,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4.0,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995.0,405-9036147-3522705,2022-04-27,Shipped,Amazon,Amazon.in,Expedited,SET273,SET273-KR-NP-S,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
4996,4996.0,405-5485616-5052346,2022-04-27,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET273,SET273-KR-NP-M,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4997,4997.0,408-0187324-2986712,2022-04-27,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0096,J0096-KR-XL,kurta,...,INR,568.00,HASSAN,KARNATAKA,573201.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4998,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128974,NaN,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [21]:
df.drop_duplicates()
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0.0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1.0,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2.0,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3.0,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4.0,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995.0,405-9036147-3522705,2022-04-27,Shipped,Amazon,Amazon.in,Expedited,SET273,SET273-KR-NP-S,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
4996,4996.0,405-5485616-5052346,2022-04-27,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET273,SET273-KR-NP-M,Set,...,INR,612.00,HUBBALLI,KARNATAKA,580023.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4997,4997.0,408-0187324-2986712,2022-04-27,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0096,J0096-KR-XL,kurta,...,INR,568.00,HASSAN,KARNATAKA,573201.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
4998,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128974,NaN,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [22]:
before = len(df)
df = df.drop_duplicates()
after = len(df)

print(f'Dropped {before - after} duplicate rows')

Dropped 0 duplicate rows

In [23]:
df.to_csv('Cleaned_Sale.csv' , index=False)

In [4]:
import pandas as pd
df = pd.read_csv('Cleaned_Sale.csv')  # since it's really a CSV
df.to_csv('Cleaned_Amazon.csv', index=False)

In [6]:
import pandas as pd

# Load the CSV (your file is comma-delimited, so this works)
df = pd.read_csv('Cleaned_Amazon.csv')

# Optional: drop unnamed columns or clean columns here
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]  # Removes empty last column

# Save it as actual Excel file
df.to_excel('cleaned_file.xlsx', index=False)

# Create download link (Jupyter Notebook)
from IPython.display import FileLink
FileLink('cleaned_file.xlsx')

C:\Users\praveen\cleaned_file.xlsx